<header class="header">
<div class="navigation">
<a href="https://crayu.co"><img src="/assets/img/crayulogo.png" height="85px"/></a>
<ul class="menu">
<li class="menu__entry"><a href="{{ '/index' | prepend: site.baseurl }}">Home</a></li>
<li class="menu__entry"><a href="{{ '/projects' | prepend: site.baseurl }}">Projects</a></li>
<li class="menu__entry"><a href="{{ '/gallery' | prepend: site.baseurl }}">Gallery</a></li>
<li class="menu__entry"><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
</ul>
</div>
<ul class="social-links">
{% if site.author.twitter %}
<a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
<i class="fa fa-twitter"></i>
</a>
{% endif %}
{% if site.author.youtube %}
<a href="https://youtube.com/c/{{ site.author.youtube }}" class="social-links__entry" target="_blank">
<i class="fa fa-youtube"></i>
</a>
{% endif %}
{% if site.author.soundcloud %}
<a href="https://soundcloud.com/{{ site.author.soundcloud }}" class="social-links__entry" target="_blank">
<i class="fa fa-soundcloud"></i>
</a>
{% endif %}
{% if site.author.tumblr %}
<a href="https://tumblr.com/{{ site.author.tumblr }}" class="social-links__entry" target="_blank">
<i class="fa fa-tumblr"></i>
</a>
{% endif %}
{% if site.author.email %}
<a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
<i class="fa fa-envelope-square"></i>
</a>
{% endif %}
</ul>
</header>